.creatorCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
  
  .hero {
    background-color: #003638;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
    backdrop-filter: blur(64px);
    background-size: contain;
    background-repeat: repeat;
    background-position: cover;
    padding: 2rem 10rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  gap: 2em;
  }
  
  .hero h1 {
    text-transform: uppercase;
        font-size: 3.5em;
        font-weight: bold;
        background-image: linear-gradient(
          70deg,
          #ffffff 45%, /* font color */
          #c3c3c3 50%,
          #ffffff 55%
        );
        background-size: 500% 100%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: shine 4s infinite;
          font-family: "Press Start 2P", system-ui;
      }
      
      @keyframes shine {
        0% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    
  
      .hero img {
        object-fit: contain;
        height: 50%;
      }
  
  @media (max-width: 768px) {
    .hero {
      flex-direction: column-reverse;
      padding: 1em;
      text-align: center;
      height: 75vh;
    }
  
  
    .hero h1 {
      font-size: 2.5em;
  
    }
  }
  
  .hero p {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    color: white;
  }
  
  .hero .heroTextContainer {
    margin: 1em 0;
  }